In [57]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [3]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [37]:
# finding the patter to link tables to each alphabates as group
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]
all_tables[37]
all_tables[44]
all_tables[51]
all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [49]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [51]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(9, 65, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [55]:
dict_table['Group G']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    3  2  0  1   3   1  +2    6
1    2  Switzerland    3  2  0  1   4   3  +1    6
2    3     Cameroon    3  1  1  1   4   4   0    4
3    4       Serbia    3  0  1  2   5   8  −3    1

In [59]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)